<MainActionBar></MainActionBar>

<RadSideDrawer #drawer
               (drawerOpening)="onDrawerOpening()"
               (drawerOpened)="onDrawerOpened()"
               (drawerClosing)="onDrawerClosing()"
               (drawerClosed)="onDrawerClosed()"
               [transition]="sideDrawerTransition" selectionBehavior="None">

    <StackLayout tkDrawerContent class="sidedrawer-left">
        <MainMenu></MainMenu>
    </StackLayout>

    <StackLayout tkMainContent class="bg-primary">
        <router-outlet></router-outlet>
    </StackLayout>

</RadSideDrawer>
