<ScrollView row="0" col="2">
    <StackLayout class="sidedrawer-content">
        <GridLayout columns="auto, *" rows="60" class="side-item" pageTransition="slideLeft">
            <Label text="&#xf0f0;" class="fa sidedrawer-list-item-icon" row="0" col="0"></Label>
            <Label text="home" class="side-label" row="0" col="1" [nsRouterLink]="['/home']" ></Label>
            <!-- see http://fontawesome.io/cheatsheet/ for icons -->
        </GridLayout>
        <GridLayout class="sideLightGrayLabel">
            <Label text="ACCOUNT" class="sidedrawer-list-item-text"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" rows="60" class="side-item" pageTransition="slideLeft">
            <Label text="&#xf0f0;" class="fa sidedrawer-list-item-icon" row="0" col="0"></Label>
            <Label text="login" class="side-label" row="0" col="1" [nsRouterLink]="['/home/login']" ></Label>
            <!-- see http://fontawesome.io/cheatsheet/ for icons -->
        </GridLayout>
        <GridLayout columns="auto, *" rows="60" class="side-item" pageTransition="slideLeft">
            <Label text="&#xf002;" class="fa sidedrawer-list-item-icon" row="0" col="0"></Label>
            <Label text="help" class="side-label" row="0" col="1" [nsRouterLink]="['/home/help']" ></Label>
        </GridLayout>
        <GridLayout class="sideLightGrayLabel">
            <Label text="SETTINGS" class="sidedrawer-list-item-text"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>